# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Python build
build/
dist/
*.egg-info/

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# Environment variables
# =========================

.env

# =========================
# Database
# =========================

data/database.db
*.db
*.sqlite3

# =========================
# Logs
# =========================

*.log

# =========================
# VSCode
# =========================

.vscode/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================

*.tmp
*.temp